# ===== Backend (Spring Boot) =====
**/target/
**/build/
*.log
*.class
*.jar
*.war
*.ear

# ===== Frontend (Angular) =====
**/node_modules/
**/dist/
**/.angular/cache/
**/.env

# ===== OS / IDE =====
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# ===== Misc =====
*.tmp
*.swp
