.app-name {
  font-weight: bold;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;

  img {
    margin-right: 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
