<mat-nav-list class="sidebar-menu">
  <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <div class="icon-text">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
  </a>

  <a mat-list-item routerLink="/dashboard/transaction" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>receipt_long</mat-icon>
      <span>Transactions</span>
    </div>
  </a>


  <a mat-list-item routerLink="/dashboard/kyc" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>receipt_long</mat-icon>
      <span>KYC</span>
    </div>

  </a>

  <a mat-list-item routerLink="/dashboard/upi-connect" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>receipt_long</mat-icon>
      <span>UPI Connected</span>
    </div>
  </a>

  <a mat-list-item routerLink="/dashboard/payment" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>receipt_long</mat-icon>
      <span>Payment</span>
    </div>
  </a>

  <!-- <a mat-list-item routerLink="/dashboard/payment-links" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>link</mat-icon>
      <span>Payment Links</span>
    </div>
  </a> -->

  <!-- <a mat-list-item routerLink="/dashboard/qr-codes" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>qr_code</mat-icon>
      <span>QR Codes</span>
    </div>
  </a> -->

  <a mat-list-item routerLink="/dashboard/subscriptions" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>autorenew</mat-icon>
      <span>Subscriptions</span>
    </div>
  </a>


  <a mat-list-item routerLink="/dashboard/subscriptions-add" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>autorenew</mat-icon>
      <span>Subscriptions Add</span>
    </div>
  </a>

  <!-- <a mat-list-item routerLink="/dashboard/payment-button" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>smart_button</mat-icon>
      <span>Payment Button</span>
    </div>
  </a> -->

  <!-- <a mat-list-item routerLink="/dashboard/settings" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </div>
  </a> -->

  <!-- <a mat-list-item routerLink="/dashboard/help" routerLinkActive="active">
    <div class="icon-text">
      <mat-icon>help_outline</mat-icon>
      <span>Help & Support</span>
    </div>
  </a> -->

</mat-nav-list>