<mat-card class="register-card">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>UPI ID</mat-label>
      <input matInput formControlName="upiId" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Register</button>
    <p>Already have an account?<a routerLink="/login"> Login</a></p>
    
  </form>
</mat-card>
